@import "tailwindcss";

body {
  background-color: white;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #f3f4f6;
  }
}

.dark body {
  background-color: #111827;
  color: #f3f4f6;
}
